@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin dedication styles */
section[epub|type~="dedication"] > p:first-of-type{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
}

section[epub|type~="dedication"] > p:first-of-type + p{
	font-variant: small-caps;
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End dedication styles */

/* Begin verse styles */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* End verse styles */
